* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: $background-color-body;
    font-family: $font-family-roboto;
    max-width: $container-width;
    margin: 0 auto;
    padding: $padding;
  }