$background-color-body: #ccd0d6;
$background-color-footer: #243043;
$font-family-roboto: 'Roboto', sans-serif;
$font-size-small: 12px;
$font-size-medium: 15px;
$font-weight-bold: 700;
$font-weight-normal: 400;
$color-white: #FFFFFF;
$color-grey: #818687;
$container-width: 1440px;
$padding: 20px;